.quickt__table {

  table {
    tr {
      line-height: 25px;
    }
    td {
      word-break: break-all;
    }
  }

  .card {
    .card-header {
      display: flex;
      justify-content: space-between;
      padding: 5px 5px;
    }

    .card-body {
      padding: 0 10px;
    }
  }

}
