NODE_ENV=development

APPLICATION_NAME=quickt
TRAEFIK_HOST=quickt.localhost
DOCKER_REPOSITORY=quickt

DATABASE_DB=quickt-demo
DATABASE_PORT=5433
DATABASE_USER=quickt-demo-user
DATABASE_PASSWORD=quickt-demo-password
DATABASE_HOST=quickt-database
DATABASE_SCHEMA=public
DATABASE_CONNECTION_TIMEOUT_MS=5000
DATABASE_QUERY_TIMEOUT_MS=10000
DATABASE_IDLE_TIMEOUT_MS=0
