.landingpage {

  .main-box {
    background-position: center top;
    background-repeat: no-repeat;
    background-color: #125252;
    position: relative;
    color: #000;
    text-align: center;
    min-height: 970px;
    background: url("https://quickt.de/api/images/background.png");
    background-size: cover;



    .box {
      width: 100%;
      font-size: 16px;
      padding-top: 250px;
      .text {
        background-color: #fff;
        padding: 15px;
        display: inline-grid;
      }
    }
  }


.color1 {
    color: #d54b63;
}
.color2 {
    color: #aa4575;
}

}

